#backup
/backup/

# generated and temporary files
*.o
*.a
*.lib
*.dll
*.bak
*.backup
*.tmp
*.gen
*.exe
*.res

# release and testing scripts
*.bat

# user defined configuration
config.mk
config.mk-msc

# non-working tests
test99.c
