/* turn off some MinGW warnings */
#define _XMMINTRIN_H_INCLUDED 

#ifdef WINDRES
#undef RC_INVOKED
#endif
#ifndef RC_INVOKED
#include "winuser.h"

#include "mesa9x.h"

1 VERSIONINFO
FILEVERSION MESA9X_VERSION_NUM
PRODUCTVERSION MESA9X_VERSION_NUM
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "CompanyName", "Mesa3D"
		VALUE "FileDescription", "Eight to Mesa Nine for 9x"
		VALUE "FileVersion", MESA9X_VERSION_STR
		VALUE "InternalName", "mesa89.dll"
		VALUE "LegalCopyright", "(C) 1999-2024 mesa3d.org / Windows 9X version by JHRobotics"
		VALUE "OriginalFilename", "mesa89.dll"
		VALUE "PrivateBuild", MESA9X_VERSION_STR
		VALUE "ProductName", "Eight to Mesa Nine for 9x"
		VALUE "ProductVersion", MESA9X_VERSION_STR
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0  
}
}
#endif
